:root {
  --secondary: rgba(0, 0, 0, 0);
  --d-sidebar-admin-background: rgba(0, 0, 0, 0);
  --header_background: rgba(0, 0, 0, 0);
  --d-sidebar-active-background: rgba(255, 255, 255, 0.15);
  --background-color: rgb(6, 19, 28);
  --header-height: 64px;
  --blur-radius: 10px;
  --background-brightness: 15%;
}

body {
  background: var(--background-color);
}

.sidebar-footer-container {
  &::before {
    visibility: hidden;
  }
}

.bg {
  height: calc(100% + calc(var(--blur-radius) * 2));
  width: calc(100% + calc(var(--blur-radius) * 2));
  filter: blur(var(--blur-radius)) brightness(var(--background-brightness));
  margin: calc(var(--blur-radius) * -2);
}

.clipped-container,
.bg-container {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.bg-container {
  z-index: -1;
}

.clipped-container {
  height: var(--header-height);
  z-index: 1;

  .clipped {
    position: initial;
  }
}

thead .category-title-link {
  pointer-events: none;
  cursor: default;
  color: var(--primary);
}

tbody .category-title-link {
  color: var(--tertiary);
}

.topic-category:first-child {
  display: none;
}
